@*@model IEnumerable<mmc.Modelos.ContabilidadModels.ViewModels.ActivoFijoUpdateVW>*@
@model IEnumerable<mmc.Modelos.ContabilidadModels.AF_Activos_Fijos>
@{
    ViewData["Title"] = "Activo Fotos";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}


<br />
<hr />

<div class="row pb-3">
                            
    @foreach (var ActivoFijo in Model)
    {
        <input type="hidden" asp-for="@ActivoFijo.CODIGOACTIVO" />
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                    <div class="card" style="border:0px;">
                        <img src="@ActivoFijo.ACFIFOTO" class="card-img-top rounded" height="240" width="400" />
                        <div class="pl-1">
                            <p class="card-title h5"><b style="color:#2c3e50">@ActivoFijo.CODIGOACTIVO</b></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p>Descripción: <b> @ActivoFijo.ACFIDSC</b></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p>Observaciones: <b> @ActivoFijo.ACFIOBS</b></p>
                        </div>
                    </div>
                    <div class="align-content-center">                    
                        @*<a href="/Contabilidad/ActivosFijos/ActivosFIjosFoto?ArtCod=@ActivoFijo.CODIGOACTIVO" class="btn btn-primary form-control">Detalles</a>*@
                            <a href="/Contabilidad/ActivosFijos/ActivosFIjosFoto?CODIGOACTIVO=@ActivoFijo.CODIGOACTIVO" class="btn btn-primary form-control">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
<hr />