@model IEnumerable<IglesiaServidores>

@{
    ViewData["Title"] = "Servidores";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

<h1>Servidores Iglesia la Familia de Dios</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamentos.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edita</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
