@model IEnumerable<IglesiaServidores>

@{
    ViewData["Title"] = "Servidores";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

<h2 class="text-center text-primary">Servidores de  Iglesia la Familia de Dios</h2>

<p>
    <a class="btn btn-danger" asp-action="Index" asp-controller="IglesiaDepartamentos">Regresar</a>
    <a class="btn btn-primary" asp-action="Create">Agregar nuevo</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamentos.Descripcion)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Edita</a> |
                    <a hidden="hidden" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
