@model IEnumerable<mmc.Modelos.ViewModels.ViewCEBVM>

@{
    ViewData["Title"] = "CEBporLiderjson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-primary">Casa de Estudio Biblico de @ViewBag.lider @ViewBag.apaellido </h2>

    <div class="col-11 text-right">
        <a class="btn btn-primary" href="/Iglesia/CasaEstudioBiblico/UpsertCEBporLider/@ViewBag.id"> <i class="fa-solid fa-house-medical-flag"></i> Añadir Nueva </a>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalCristianos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noCristianos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ninos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.convertidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reconciliados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ofrenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalCristianos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noCristianos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ninos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.convertidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reconciliados)
            </td>
            <td>
                Q
                @Html.DisplayFor(modelItem => item.ofrenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a href="/Iglesia/CasaEstudioBiblico/Upsert/@item.id"><i class="fa-solid fa-pen-to-square text-primary"></i></a>
                <a asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-circle-info text-success"></i></a>
                <a onclick=Delete("/Iglesia/CasaEstudioBiblico/Delete/@item.id") ><i class="fa-solid fa-trash-can text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    
function Delete(url) {

    swal({
        title: "Esta Seguro que quiere Eliminar el registro?",
        text: "Este Registro no se podra recuperar",
        icon: "warning",
        buttons: true,
        dangerMode: true
    }).then((borrar) => {
        if (borrar) {
            $.ajax({
                type: "DELETE",
                url: url,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        datatable.ajax.reload();
                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });
        }
    });
}
    </script>
}
