@model IEnumerable<IglesiaReuniones>

@{
    ViewData["Title"] = "Reuniones";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

<p>
    <a asp-action="Create">Crear Reunión</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreReunion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReunionFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreReunion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReunionFecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
