@model mmc.Modelos.TicketModels.Ticket

@{
    ViewData["Title"] = "Detalles de su ticket";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}
<br />
<h3 class="text-center">

        Ticket id:
        @Html.DisplayFor(model => model.Id)

</h3>


<div class="card">
    <div class="card-header">
        <div class="row h6">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Usuario) : @Html.DisplayFor(model => model.Usuario)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.FechaAlta) : @Html.DisplayFor(model => model.FechaAlta)
            </div>
            <div class="col-md-2">
                Urgencia : @Html.DisplayFor(model => model.Urgencia.Descripcion)
            </div>

            <div class="col-md-3 text-right">
                Estado : @Html.DisplayFor(model => model.EstadosTK.Descripcion)
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="h5">
            @Html.DisplayNameFor(model => model.Asunto): @Html.DisplayFor(model=> model.Asunto)
        </div>

        <div class="col-md-12">
            <div class="h6">
                @Html.DisplayNameFor(model => model.Descripcion)
            </div>
           @* <textarea id="description" asp-for="Descripcion" class="form-control" rows="4"></textarea>*@
            @Html.Raw(Model.Descripcion)
        </div>

        <div class="card-body">
            <div class="h5">
            <hr />
            </div>

            <div class="col-md-12">
                <div class="h4">
                    @Html.DisplayNameFor(model => model.Solucion)
                </div>
               @* <textarea id="solucion" asp-for="Solucion" class="form-control" rows="4"></textarea>*@
                @Html.Raw(Model.Solucion)
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="row h6">
            <div class="col-md-4">
                @Html.DisplayNameFor(tecnico => tecnico.Tecnico): @Html.DisplayFor(tec => tec.Tecnico)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(tecnico => tecnico.FechaSolucion): @Html.DisplayFor(tec => tec.FechaSolucion)
            </div>
            <div class="col-md-4 text-right">
                Empresa: @Html.DisplayFor(tec => tec.SedeTK.Descripcion)
            </div>
        </div>
    </div>
</div>

 <div class="row h5">
     <div class="col-md-6">
        <a class="btn btn-primary form-control" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    </div>
    <div class="col-md-6">
        <a class="btn btn-danger form-control" asp-action="Index">Cancelar</a>
    </div>
 </div>


 <br /><hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#description').summernote({
                height: 300,
            });
        });

        $(document).ready(function () {
            bsCustomFileInput.init();
        });

        $(document).ready(function () {
            $('#solucion').summernote({
                height: 150,
            });
        });

        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>

    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>
    <script>

 
        $(document).ready(function () {
            $(".export-pdf").click(function () {
                // Convert the DOM element to a drawing using kendo.drawing.drawDOM
                    kendo.drawing.drawDOM($("#card"))
                    .then(function (group) {
                        // Render the result as a PDF file
                        return kendo.drawing.exportPDF(group, {
                            paperSize: "auto",
                            margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                        });
                    })
                    .done(function (data) {
                        // Save the PDF file
                        kendo.saveAs({
                            dataURI: data,
                            fileName: "HR-Dashboard.pdf",
                            proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                        });
                    });
            });
            $(".export-img").click(function () {
                // Convert the DOM element to a drawing using kendo.drawing.drawDOM
                kendo.drawing.drawDOM($(".content-wrapper"))
                    .then(function (group) {
                        // Render the result as a PNG image
                        return kendo.drawing.exportImage(group);
                    })
                    .done(function (data) {
                        // Save the image file
                        kendo.saveAs({
                            dataURI: data,
                            fileName: "HR-Dashboard.png",
                            proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                        });
                    });
            });
            $(".export-svg").click(function () {
                // Convert the DOM element to a drawing using kendo.drawing.drawDOM
                kendo.drawing.drawDOM($(".content-wrapper"))
                    .then(function (group) {
                        // Render the result as a SVG document
                        return kendo.drawing.exportSVG(group);
                    })
                    .done(function (data) {
                        // Save the SVG document
                        kendo.saveAs({
                            dataURI: data,
                            fileName: "HR-Dashboard.svg",
                            proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                        });
                    });
            });
        });
    </script>
}