@model IEnumerable<mmc.Modelos.TicketModels.Ticket>
@{
    List<SelectListItem> banderita = (List<SelectListItem>)ViewBag.flag;
}

@{
    ViewData["Title"] = "Listado de Tickets Pendientes";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";
}

<br />

<div class="container-fluid">
    <form asp-action="Index" asp-controller="Tickets" method="post">
        <div class="col-12">
                    <div class="form-group">
                @Html.DropDownList("flag", banderita, "SELECCIONE PARA CAMBIAR EL ESTADO", new { @class = "form-control" }) 
          </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </div>
    </form>
</div>


<table class="table table-striped table-bordered dt-responsive" style="width:100%" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Solucion)
            </th>
            
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencia)
            </th>
            <th>
                Area
            </th>
            <th>
               Sede
            </th>
           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Solucion)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.EstadosTK.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaSoporte.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SedeTK.Descripcion)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
