@using mmc.Utilidades;
@model IEnumerable<mmc.Modelos.TicketModels.Ticket>
@{
    List<SelectListItem> banderita = (List<SelectListItem>)ViewBag.flag;
}


<br />

@{
    ViewData["Title"] = "Listado de Tickets Pendientes";
    Layout = "~/Views/Shared/_Layout_Menu_lateral.cshtml";

    var estado = Context.Request.Query["estado"];
    var pendientes = "text-primary";
    var proceso = "text-primary";
    var todas = "text-primary";
    var finalizado = "text-primary";

    switch (estado)
    {
        case "1":
            pendientes = "active text-white";
            break;
        case "2":
            proceso = "active text-white";
            break;
        case "3":
            finalizado = "active text-white";
            break;
        default:
            todas = "active text-white";
            break;
    }
}

<div class="card mb-2">
    <div class="d-lg-flex justify-content-between mb-3">
        <div class="p-2">
            <h2 class="text-primary">Lista de Tickets</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Tickets" asp-action="Index" asp-route-estado="1">
                <li class="list-group-item @pendientes">Pendientes</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Tickets" asp-action="Index" asp-route-estado="2">
                <li class="list-group-item @proceso">En Proceso</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Tickets" asp-action="Index" asp-route-estado="3">
                <li class="list-group-item @finalizado">Finalizados</li>
                </a>
            </ul>
        </div>
    </div>
    </div>

<!-- ******************************************* Buscar ******************************************* -->
<form asp-action="Index" method="get">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex mb-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar ..." aria-label="Buscar" aria-describedby="button-addon2"
                   name="busqueda" value="@ViewData["BusquedaActual"]" />
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
<!-- ******************************************* Fin Buscar ******************************************* -->
<!-- ******************************************* PAGINACION ******************************************* -->
<div class="row mt-sm-2 mb-2">
    <div class="col-sm-12 offset-3">
        <a asp-action="Index"
           asp-route-pageNumber="@(1)" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="fa-solid fa-caret-left"></i>
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@((int)ViewData["PageNumber"]-1)" class="btn btn-outline-primary @ViewData["Previo"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Anterior
        </a>
        <span>Pagina @ViewData["PageNumber"] de @ViewData["TotalPaginas"]</span>
        <a asp-action="Index"
           asp-route-pageNumber="@((int)ViewData["PageNumber"] +1)" class="btn btn-outline-primary @ViewData["Siguiente"]"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            Siguiente
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@ViewData["TotalPaginas"]" class="btn btn-outline-primary"
           asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="fa-solid fa-caret-right"></i>
        </a>
    </div>
</div>
<!-- ******************************************* FIN DE PAGINACION ******************************************* -->


<table class="table table-striped table-bordered dt-responsive" style="width:100%" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Solucion)
            </th>
            
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencia)
            </th>
            <th>
                Area
            </th>
            <th>
               Sede
            </th>
           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
          
            <td>
                    @Html.Raw(item.Solucion)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.EstadosTK.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaSoporte.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SedeTK.Descripcion)
            </td>
           
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye text-success"></i></a> |
                    @if (User.IsInRole(DS.Role_Admin))
                    {
                        
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square text-primary"></i></a>
                    }
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

    <!-- ******************************************* PAGINACION ******************************************* -->
    <div class="row mt-sm-4">
        <div class="col-sm-12 offset-3">
            <a asp-action="Index"
               asp-route-pageNumber="@(1)" class="btn btn-outline-primary"
               asp-route-busquedaActual="@ViewData["BusquedaActual"]">
                <i class="fa-solid fa-caret-left"></i>
            </a>
            <a asp-action="Index"
               asp-route-pageNumber="@((int)ViewData["PageNumber"]-1)" class="btn btn-outline-primary @ViewData["Previo"]"
               asp-route-busquedaActual="@ViewData["BusquedaActual"]">
                Anterior
            </a>
            <span>Pagina @ViewData["PageNumber"] de @ViewData["TotalPaginas"]</span>
            <a asp-action="Index"
               asp-route-pageNumber="@((int)ViewData["PageNumber"] +1)" class="btn btn-outline-primary @ViewData["Siguiente"]"
               asp-route-busquedaActual="@ViewData["BusquedaActual"]">
                Siguiente
            </a>
            <a asp-action="Index"
               asp-route-pageNumber="@ViewData["TotalPaginas"]" class="btn btn-outline-primary"
               asp-route-busquedaActual="@ViewData["BusquedaActual"]">
            <i class="fa-solid fa-caret-right"></i>
            </a>
        </div>
    </div>
    <!-- ******************************************* FIN DE PAGINACION ******************************************* -->
    @section Scripts{
    @* <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> *@
}