@model mmc.Modelos.IglesiaModels.CEB_DET

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CEB_DET</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cristianos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cristianos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoCistianos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoCistianos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ninios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ninios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Convertidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convertidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reconcilia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reconcilia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ofrenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ofrenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cabecera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cabecera.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechamodifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechamodifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
